@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #93ff598c;
    --cor1: #58E60B;
    --cor2: #44B309;
    --cor3: #46911D;
    --cor4: #276605;
    --cor5: #063d1e;

    --fontePadrao: Arial, Verdana, Helvetica, sans-serif;
    --fonteDestaque: 'Bebas Neue', cursive;
    --fonteAndroid: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fontePadrao)
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3), var(--cor4), var(--cor5));
    min-height: 100px;
    text-align: center;
    padding-top: 40px;
}

header>h1 {
    font-weight: normal;
    color: white;
    font-family: var(--fonteDestaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.63);
}

header>p {
    color: white;
    font-family: var(--fontePadrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.63);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.377);
    text-align: left;
}

nav>a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.2s;
}

nav>a:hover {
    text-decoration: underline;
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.596);
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px
}

main h1 {
    font-weight: normal;
    color: var(--cor5);
    font-family: var(--fonteAndroid);
    font-size: 2em;
}

main h2 {
    font-weight: normal;
    color: var(--cor4);
    font-family: var(--fonteAndroid);
    font-size: 1.3em;
    background-image: linear-gradient(to right, rgba(57, 136, 57, 0.473), transparent);
    text-indent: 5px;
}

main img {
    width: 100%;
}

main p {
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
    font-size: 1em;
}

main strong {
    color: var(--cor5);
    font-weight: bold;
}

main a {
    text-decoration: none;
    color: var(--cor5);
    transition-duration: .2s;
    padding: 1px 1px;
    border-radius: 3px;
    font-weight: bold;
}

main a:hover {
    text-decoration: underline;
    background-color: var(--cor5);
    color: white;
}

main a::after {
    content: '\00A0\1F517';
}

main iframe {
    display: block;
    margin: auto;
    width: 80%;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
} 

aside {
    background-color: rgba(63, 179, 63, 0.541);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.39);
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

aside > h3 {
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    background-color: var(--cor5);
    color: white;
}

footer {
    background-color: var(--cor5);
    color: white;
    min-height: 10px;
    text-align: center;
    padding: 5px;
    max-width: 100%;
}

footer p {
    font-family: var(--fontePadrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
}

footer a {
    font-style: italic;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    transition-duration: .2s;
    border-radius: 5px;
    padding: 2px
}

footer a:hover {
    text-decoration: underline;
}

